/* Main CSS file */

* { color:#fff; text-decoration: none;}

body {
    margin: auto;
}

html {
    background: #ffffff;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    width: 30%;
}
/*NAV BAR*/

.navinbody {
    background: rgba(0,0,0,.4);
}

.navatheader {
    background: #03090b;
}

nav {
    position: fixed;
    height: 64px;
    z-index: 99;
    width: 100%;
    top: 0;

}

nav ul {
    list-style-type: none;
    margin-top: 0px;
    height: 80px;
    padding: 0;
    overflow: hidden;
    background-color: #03090b;
    position: sticky
}

nav li {
    float: left;
    margin-top: 17px;
    font-family: 'Raleway', sans-serif;

}

nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

nav li a:hover:not(.active) {
    color: #fff;
    font-style: italic;
    font-family: 'Raleway', sans-serif;

}

.active {
    color: #007af0;
    font-style: italic;
    /*font-weight: bold;*/
    font-family: 'Raleway', sans-serif;
}

a[href^="#home"].active {
    /*background-color: #03090b;*/
    color: #007af0;
}

a[href^="#social"].active {
    /*background: rgba(0, 0, 0, 0.4);*/
    /*background: #fff;*/
    color: #007af0;
}

a[href^="#about"].active {
    /*background: rgba(0, 0, 0, 0.4);*/
    /*background: #fff;*/
    color: #007af0;
}

/*End Navbar*/

header div img {
    width: 100%;
}

.headerimg {
    height: 331px;
    width: 100%;
    margin-top: 16px;
    position: absolute;
    color: #1d181b;

}

.headercontainer {
    background: #000 url(../img/header.jpg);
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}
.color-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.9);
    opacity: .6;
    position: absolute;
}


header div h1 {
    z-index: 1;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    /*display: inline-block;*/
    /*border: 1px solid white;*/
    /*display: block;*/
    margin: 0 auto;
    margin-top: 50px;
}

header div h2 {
    z-index: 1;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    /*display: inline-block;*/
    /*border: 1px solid white;*/
    /*display: block;*/
    margin: 0 auto;


}

/* End Header */
/* Body */

/* Begin Social*/
.socialbody {
    height: 235px;
    width: 100%;
    margin: 0px;
    background: #fff;

    position: relative;


    /*border: 1px solid black;*/
}

.socialmediatitle {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-align: center;
}

.socialmediatitle h1 {
    color: black;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    /*border: 1px solid red;*/
    height: 330px;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    /*align-items: center;*/
}

.socialmedia div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.socialmedia a {
    text-decoration: none;
    color: black
}

.twitterimg {
    height: 100px;
    width: 100px;
    /*border: 1px solid black;*/

    /*padding: 80px*/
}

.twitchimg {
    height: 100px;
    width: 100px;
    /*border: 1px solid black;*/

    /*padding: 80px*/
}

.youtubeimg {
    height: 100px;
    width: 100px;
    /*border: 1px solid black;*/

    /*padding: 80px*/
}

.socialtext {
    /*border: 1px solid black;*/
    width: 100px;
    /*margin-left: 80px;*/
    /*z-index: 2;*/
    color: black;
}

/* End Social */

/* Begin About */

.aboutbody {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100%;
    margin: 0px;
    background: white;

    position: relative;
    margin-bottom: 500px;

    font-family: 'Raleway', sans-serif;
}

.abouttitle {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    color: black;
}

.aboutimg {
    display: flex;
    /* flex-wrap: wrap; */
    /* float: left; */
    margin-top: 0%;
    margin-left: 2%;
    /* display: inline-block; */
    width: 275px;
    height: 270px;
    /* border: 1px solid black; */
}

.abouttext {
    display: inline-block;
    position: relative;
    bottom: 70%;
    padding: 10px;
    margin: 0px auto;
    margin-left: 23%;
    width: 75%;
    /* border: 1px solid black; */
    color: black;
}

.abouttext2 {
    display: inline-block;
    position: relative;
    bottom: 73%;
    padding: 10px;
    margin: 0px auto;
    margin-left: 23%;
    /* border: 1px solid black; */
    width: 75%;
    color: black;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gray;
}

/* Main CSS file */

* { color:#fff; text-decoration: none;}

body {
    margin: auto;
}

html {
    background: #ffffff;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    width: 30%;
}
/*NAV BAR*/

.navinbody {
    background: rgba(0,0,0,.4);
}

.navatheader {
    background: #03090b;
}

nav {
    position: fixed;
    height: 64px;
    z-index: 99;
    width: 100%;
    top: 0;

}

nav ul {
    list-style-type: none;
    margin-top: 0px;
    height: 80px;
    padding: 0;
    overflow: hidden;
    background-color: #03090b;
    position: sticky
}

nav li {
    float: left;
    margin-top: 17px;
    font-family: 'Raleway', sans-serif;

}

nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

nav li a:hover:not(.active) {
    color: #fff;
    font-style: italic;
    font-family: 'Raleway', sans-serif;

}

.active {
    color: #007af0;
    font-style: italic;
    /*font-weight: bold;*/
    font-family: 'Raleway', sans-serif;
}

a[href^="#home"].active {
    /*background-color: #03090b;*/
    color: #007af0;
}

a[href^="#social"].active {
    /*background: rgba(0, 0, 0, 0.4);*/
    /*background: #fff;*/
    color: #007af0;
}

a[href^="#about"].active {
    /*background: rgba(0, 0, 0, 0.4);*/
    /*background: #fff;*/
    color: #007af0;
}

/*End Navbar*/

header div img {
    width: 100%;
}

.headerimg {
    height: 331px;
    width: 100%;
    margin-top: 16px;
    position: absolute;
    color: #1d181b;

}

.headercontainer {
    background: #000 url(../img/header.jpg);
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}
.color-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.9);
    opacity: .6;
    position: absolute;
}


header div h1 {
    z-index: 1;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    /*display: inline-block;*/
    /*border: 1px solid white;*/
    /*display: block;*/
    margin: 0 auto;
    margin-top: 50px;
}

header div h2 {
    z-index: 1;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    /*display: inline-block;*/
    /*border: 1px solid white;*/
    /*display: block;*/
    margin: 0 auto;


}

/* End Header */
/* Body */

/* Begin Social*/
.socialbody {
    height: 239px;
    width: 100%;
    margin: 0px;
    background: #fff;

    position: relative;


    /*border: 1px solid black;*/
}

.socialmediatitle {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-align: center;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    /*border: 1px solid red;*/
    height: 330px;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    /*align-items: center;*/
}

.socialmedia div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.socialmedia a {
    text-decoration: none;
    color: black
}

.twitterimg {
    height: 100px;
    width: 100px;
    /*border: 1px solid black;*/

    /*padding: 80px*/
}

.twitchimg {
    height: 100px;
    width: 100px;
    /*border: 1px solid black;*/

    /*padding: 80px*/
}

.youtubeimg {
    height: 100px;
    width: 100px;
    /*border: 1px solid black;*/

    /*padding: 80px*/
}

.socialtext {
    /*border: 1px solid black;*/
    width: 100px;
    /*margin-left: 80px;*/
    /*z-index: 2;*/
    color: black;
}

/* End Social */

/* Begin About */

.aboutbody {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100%;
    margin: 0px;
    background: white;

    position: relative;
    margin-bottom: 500px;

    font-family: 'Raleway', sans-serif;
}

.abouttitle {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.aboutimg {
    display: flex;
    /* flex-wrap: wrap; */
    /* float: left; */
    margin-top: 0%;
    margin-left: 2%;
    /* display: inline-block; */
    width: 275px;
    height: 270px;
    /* border: 1px solid black; */
}

.abouttext {
    display: inline-block;
    position: relative;
    bottom: 70%;
    padding: 10px;
    margin: 0px auto;
    margin-left: 23%;
    width: 75%;
    /* border: 1px solid black; */
    color: black;
}

.abouttext2 {
    display: inline-block;
    position: relative;
    bottom: 73%;
    padding: 10px;
    margin: 0px auto;
    margin-left: 23%;
    /* border: 1px solid black; */
    width: 75%;
    color: black;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gray;
}

/* @media rules for phones */

@media only screen and (min-width: 300px) {
    .aboutimg {
        display: flex;
        margin-top: 0%;
        margin-left: 25%;
        /* display: inline-block; */
        width: 200px;
        height: 200px;
        /* border: 1px solid black; */
    }

    .abouttext {
        display: inline-block;
        position: relative;
        bottom: 0%;
        padding: 10px;
        margin: 0px auto;
        margin-left: 18%;
        /* border: 1px solid black; */
        width: 70%;
        color: black;

    }

    .abouttext2 {
        display: inline-block;
        position: relative;
        bottom: 0%;
        padding: 10px;
        margin: 0px auto;
        margin-left: 18%;
        /* border: 1px solid black; */
        width: 70%;
        color: black;
    }

    header div h1 {
        z-index: 1;
        font-family: 'Pacifico', cursive;
        font-size: 50px;
        /*display: inline-block;*/
        /*border: 1px solid white;*/
        /*display: block;*/
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
    }

    header div h2 {
        z-index: 1;
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
        /*display: inline-block;*/
        /*border: 1px solid white;*/
        /*display: block;*/
        margin: 0 auto;
        text-align: center;


    }
}

@media only screen and (min-width: 320px) {
    .aboutimg {
        display: flex;
        margin-top: 0%;
        margin-left: 20%;
        /* display: inline-block; */
        width: 200px;
        height: 200px;
        /* border: 1px solid black; */
    }

    .abouttext {
        display: inline-block;
        position: relative;
        bottom: 0%;
        padding: 10px;
        margin: 0px auto;
        margin-left: 16%;
        /* border: 1px solid black; */
        width: 70%;
        color: black;

    }

    .abouttext2 {
        display: inline-block;
        position: relative;
        bottom: 0%;
        padding: 10px;
        margin: 0px auto;
        margin-left: 16%;
        /* border: 1px solid black; */
        width: 70%;
        color: black;
    }

    header div h1 {
        z-index: 1;
        font-family: 'Pacifico', cursive;
        font-size: 50px;
        /*display: inline-block;*/
        /*border: 1px solid white;*/
        /*display: block;*/
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
    }

    header div h2 {
        z-index: 1;
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
        /*display: inline-block;*/
        /*border: 1px solid white;*/
        /*display: block;*/
        margin: 0 auto;
        text-align: center;


    }
}

@media only screen and (min-width: 375px) {
    .aboutimg {
        display: flex;
        margin-top: 0%;
        margin-left: 25%;
        /* display: inline-block; */
        width: 200px;
        height: 200px;
        /* border: 1px solid black; */
    }

    .abouttext {
        display: inline-block;
        position: relative;
        bottom: 0%;
        padding: 10px;
        margin: 0px auto;
        margin-left: 19%;
        /* border: 1px solid black; */
        width: 70%;
        color: black;

    }

    .abouttext2 {
        display: inline-block;
        position: relative;
        bottom: 0%;
        padding: 10px;
        margin: 0px auto;
        margin-left: 19%;
        /* border: 1px solid black; */
        width: 70%;
        color: black;
    }

    header div h1 {
        z-index: 1;
        font-family: 'Pacifico', cursive;
        font-size: 50px;
        /*display: inline-block;*/
        /*border: 1px solid white;*/
        /*display: block;*/
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
    }

    header div h2 {
        z-index: 1;
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
        /*display: inline-block;*/
        /*border: 1px solid white;*/
        /*display: block;*/
        margin: 0 auto;
        text-align: center;


    }
}

@media only screen and (min-width: 568px) {
    .aboutimg {
        display: flex;
        margin-top: 0%;
        margin-left: 33%;
        /* display: inline-block; */
        width: 200px;
        height: 200px;
        /* border: 1px solid black; */
    }

    .abouttext {
        display: inline-block;
        position: relative;
        bottom: 0%;
        padding: 10px;
        margin: 0px auto;
        margin-left: 18%;
        /* border: 1px solid black; */
        width: 65%;
        color: black;

    }

    .abouttext2 {
        display: inline-block;
        position: relative;
        bottom: 0%;
        padding: 10px;
        margin: 0px auto;
        margin-left: 18%;
        /* border: 1px solid black; */
        width: 65%;
        color: black;
    }

}

@media only screen and (min-width: 600px) {
    .aboutimg {
        display: flex;
        margin-top: 0%;
        margin-left: 37%;
        /* display: inline-block; */
        width: 200px;
        height: 200px;
        /* border: 1px solid black; */
    }

    .abouttext {
        display: inline-block;
        position: relative;
        bottom: 0%;
        padding: 10px;
        margin: 0px auto;
        margin-left: 18%;
        /* border: 1px solid black; */
        width: 70%;
        color: black;

    }

    .abouttext2 {
        display: inline-block;
        position: relative;
        bottom: 0%;
        padding: 10px;
        margin: 0px auto;
        margin-left: 18%;
        /* border: 1px solid black; */
        width: 70%;
        color: black;
    }

}

@media only screen and (min-width: 667px) {
    .aboutimg {
        display: flex;
        margin-top: 0%;
        margin-left: 36%;
        /* display: inline-block; */
        width: 200px;
        height: 200px;
        /* border: 1px solid black; */
    }

    .abouttext {
        display: inline-block;
        position: relative;
        bottom: 0%;
        padding: 10px;
        margin: 0px auto;
        margin-left: 18%;
        /* border: 1px solid black; */
        width: 70%;
        color: black;

    }

    .abouttext2 {
        display: inline-block;
        position: relative;
        bottom: 0%;
        padding: 10px;
        margin: 0px auto;
        margin-left: 18%;
        /* border: 1px solid black; */
        width: 70%;
        color: black;
    }

}

@media only screen and (min-width: 768px) {
    .aboutimg {
        display: flex;
        margin-top: 0%;
        margin-left: 37%;
        /* display: inline-block; */
        width: 200px;
        height: 200px;
        /* border: 1px solid black; */
    }

    .abouttext {
        display: inline-block;
        position: relative;
        bottom: 0%;
        padding: 10px;
        margin: 0px auto;
        margin-left: 16%;
        /* border: 1px solid black; */
        width: 70%;
        color: black;

    }

    .abouttext2 {
        display: inline-block;
        position: relative;
        bottom: 0%;
        padding: 10px;
        margin: 0px auto;
        margin-left: 16%;
        /* border: 1px solid black; */
        width: 70%;
        color: black;
    }

}

@media only screen and (min-width: 800px) {
    .aboutimg {
        display: flex;
        margin-top: 0%;
        margin-left: 38%;
        /* display: inline-block; */
        width: 200px;
        height: 200px;
        /* border: 1px solid black; */
    }

    .abouttext {
        display: inline-block;
        position: relative;
        bottom: 0%;
        padding: 10px;
        margin: 0px auto;
        margin-left: 16%;
        /* border: 1px solid black; */
        width: 70%;
        color: black;

    }

    .abouttext2 {
        display: inline-block;
        position: relative;
        bottom: 0%;
        padding: 10px;
        margin: 0px auto;
        margin-left: 16%;
        /* border: 1px solid black; */
        width: 70%;
        color: black;
    }

}

@media only screen and (min-width: 1024px) {
    .aboutimg {
        display: flex;
        margin-top: 0%;
        margin-left: 41%;
        /* display: inline-block; */
        width: 200px;
        height: 200px;
        /* border: 1px solid black; */
    }

    .abouttext {
        display: inline-block;
        position: relative;
        bottom: 0%;
        padding: 10px;
        margin: 0px auto;
        margin-left: 16%;
        /* border: 1px solid black; */
        width: 70%;
        color: black;

    }

    .abouttext2 {
        display: inline-block;
        position: relative;
        bottom: 0%;
        padding: 10px;
        margin: 0px auto;
        margin-left: 16%;
        /* border: 1px solid black; */
        width: 70%;
        color: black;
    }

}

@media only screen and (min-width: 1366px) {
    .aboutimg {
        display: flex;
        margin-top: 0%;
        margin-left: 43%;
        /* display: inline-block; */
        width: 200px;
        height: 200px;
        /* border: 1px solid black; */
    }

    .abouttext {
        display: inline-block;
        position: relative;
        bottom: 0%;
        padding: 10px;
        margin: 0px auto;
        margin-left: 16%;
        /* border: 1px solid black; */
        width: 70%;
        color: black;

    }

    .abouttext2 {
        display: inline-block;
        position: relative;
        bottom: 0%;
        padding: 10px;
        margin: 0px auto;
        margin-left: 16%;
        /* border: 1px solid black; */
        width: 70%;
        color: black;
    }

}

@media only screen and (min-width: 1400px) {
    .aboutimg {
        display: flex;
        margin-top: 0%;
        margin-left: 44%;
        /* display: inline-block; */
        width: 200px;
        height: 200px;
        /* border: 1px solid black; */
    }

    .abouttext {
        display: inline-block;
        position: relative;
        bottom: 0%;
        padding: 10px;
        margin: 0px auto;
        margin-left: 16%;
        /* border: 1px solid black; */
        width: 70%;
        color: black;

    }

    .abouttext2 {
        display: inline-block;
        position: relative;
        bottom: 0%;
        padding: 10px;
        margin: 0px auto;
        margin-left: 16%;
        /* border: 1px solid black; */
        width: 70%;
        color: black;
    }

}