/* Main CSS file */ /*Good version*/

/** { color:#fff; text-decoration: none;}*/

body {
    margin: auto;
}

html {
    background: #ffffff;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    width: 30%;
}

/*NAV BAR*/ /*Good version*/

.navinbody {
    background: rgba(0, 0, 0, .4);
}

.navatheader {
    background: #03090b;
}

nav {
    position: fixed;
    height: 64px;
    z-index: 99;
    width: 100%;
    top: 0;

}

nav ul {
    list-style-type: none;
    margin-top: 0px;
    height: 80px;
    padding: 0;
    overflow: hidden;
    background-color: #03090b;
    position: sticky
}

nav li {
    float: left;
    margin-top: 17px;
    font-family: 'Raleway', sans-serif;

}

nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

nav li a:hover:not(.active) {
    color: #fff;
    font-style: italic;
    font-family: 'Raleway', sans-serif;

}

.active {
    color: #007af0;
    font-style: italic;
    /*font-weight: bold;*/
    font-family: 'Raleway', sans-serif;
}

a[href^="#home"].active {
    /*background-color: #03090b;*/
    color: #007af0;
}

a[href^="#social"].active {
    /*background: rgba(0, 0, 0, 0.4);*/
    /*background: #fff;*/
    color: #007af0;
}

a[href^="#about"].active {
    /*background: rgba(0, 0, 0, 0.4);*/
    /*background: #fff;*/
    color: #007af0;
}

a[href^="#myprojects"].active {
    /*background: rgba(0, 0, 0, 0.4);*/
    /*background: #fff;*/
    color: #007af0;
}

/*End Navbar*/ /*Good version*/

header div img {
    width: 100%;
}

.headerimg {
    height: 331px;
    width: 100%;
    margin-top: 16px;
    position: absolute;
    color: #1d181b;

}

.headercontainer {
    background: #000 url(../img/header.jpg);
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.color-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .9);
    opacity: .6;
    position: absolute;
}

header div h1 {
    z-index: 1;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    /*display: inline-block;*/
    /*border: 1px solid white;*/
    /*display: block;*/
    margin: 0 auto;
    margin-top: 50px;
}

header div h2 {
    z-index: 1;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    /*display: inline-block;*/
    /*border: 1px solid white;*/
    /*display: block;*/
    margin: 0 auto;

}

/* End Header */
/* Body */ /*Good version*/

/* Begin Social*/
.socialbody {
    height: 239px;
    width: 100%;
    margin: 0px;
    background: #fff;

    position: relative;

    /*border: 1px solid black;*/
}

.socialmediatitle {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-align: center;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    /*border: 1px solid red;*/
    height: 330px;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    /*align-items: center;*/
}

.socialmedia div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.socialmedia a {
    text-decoration: none;
    color: black
}

.twitterimg {
    height: 100px;
    width: 100px;
    /*border: 1px solid black;*/

    /*padding: 80px*/
}

.twitchimg {
    height: 100px;
    width: 100px;
    /*border: 1px solid black;*/

    /*padding: 80px*/
}

.youtubeimg {
    height: 100px;
    width: 100px;
    /*border: 1px solid black;*/

    /*padding: 80px*/
}

.socialtext {
    /*border: 1px solid black;*/
    width: 100px;
    /*margin-left: 80px;*/
    /*z-index: 2;*/
    color: black;
}

/* End Social */

/* Begin About */

.aboutbody {
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 100%;
    /*margin: 0px;*/
    background: white;

    position: relative;
    /*margin-bottom: 500px;*/

    font-family: 'Raleway', sans-serif;

    /*     border: 1px solid black; */
}

.abouttitle {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.aboutimg {
    display: flex;
    /* flex-wrap: wrap; */
    /* float: left; */
    margin-top: 0%;
    margin-left: 2%;
    /* display: inline-block; */
    width: 275px;
    height: 270px;
    /* border: 1px solid black; */
}

.abouttext {
    display: inline-block;
    position: relative;
    bottom: 70%;
    padding: 10px;
    margin: 0px auto;
    margin-left: 23%;
    width: 75%;
    /* border: 1px solid black; */
    color: black;
}

.abouttext2 {
    display: inline-block;
    position: relative;
    bottom: 73%;
    padding: 10px;
    margin: 0px auto;
    margin-left: 23%;
    /* border: 1px solid black; */
    width: 75%;
    color: black;
}

/* End About */

/* Begin Projects */
.projectsbody {
    height: 245px;
    width: 100%;
    margin: 0px;

    /*background: #fff;*/

    position: relative;
    margin-bottom: 10%;

    border: 1px solid black;
}

.projectstitle {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-align: center;
    color: black;
}

.projects {
    display: flex;
    flex-direction: row;
    /*border: 1px solid red;*/
    height: 150px;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    /*align-items: center;*/
}

.projects div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.projects a {
    text-decoration: none;
    color: black
}

.projectimg1 {
    height: 100px;
    width: 100px;
    /*border: 1px solid black;*/
    /*padding: 80px*/
}

.projectimg2 {
    height: 100px;
    width: 100px;
    /*border: 1px solid black;*/

    /*padding: 80px*/
}

.projectimg3 {
    height: 100px;
    width: 100px;
    /*border: 1px solid black;*/

    /*padding: 80px*/
}

.socialtext {
    /*border: 1px solid black;*/
    width: 100px;
    /*margin-left: 80px;*/
    /*z-index: 2;*/
    color: black;
}

/* Scrollbar */ /*Good version*/

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gray;
}

footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    /*height: 220px;*/
    background: #3d3d3d;
}

table {
    /*border: 1px solid red;*/
    height: 10px;
    width: 15%;
    text-align: center;
    margin-bottom: 0.78%;
    margin-left: 1%;
    /* margin-top: 100px; */
    bottom: 0;
    position: absolute;
    border-collapse: collapse;
    border-radius: 10px;
    background-color: #484848a8;
    font-family: 'Raleway', sans-serif;
    font-size: 14.99px;
}

table, th, td {
    /*     border: 1px solid black; */
}

.footerrow1 h2 {
    margin-bottom: 67px;
    margin-left: 74px;
    height: 25px;
    width: 66px;
    /*     border: 1px solid */
}

.footerrow2 h2 {
    display: inline-block;
    margin-bottom: 67px;
    margin-left: 161px;
    height: 25px;
    width: 70px;
    /*border: 1px solid black;*/
}

.footerrow1 li {
    width: 72px;
    /*     border: 1px solid */
}

.footerrow2 li {
    width: 72px;
    /*     border: 1px solid */
}

.footerrow1 {
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: column;
    margin-left: 13%;
    margin-bottom: 2.7%;
    /*border: 1px solid red;*/
    height: 102%;
    width: 10%;
    bottom: 0;
    position: absolute;
    justify-content: center;
}

.footerrow2 {
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: column;
    margin-left: 16%;
    margin-bottom: 2.7%;
    /*border: 1px solid red;*/
    height: 102%;
    width: 26%;
    bottom: 0;
    position: absolute;
    justify-content: center;
}

.footerrows ul {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    width: 20%;
    height: 10%;
    /*border: 1px solid green;*/
    justify-content: center;
    list-style: none;

}

.footerrows {
    background-color: #484848a8;
    font-family: 'Raleway', sans-serif;
    font-size: 13.8px;
    /*border: 1px solid blueviolet;*/
}

form {
    display: inline-block;
    /* border: 1px solid red; */
    width: 14.3%;
    margin-left: 84%;
    /* margin-bottom: 10%; */
}

input[type=text], textarea { /* Selects/searches for the tags: <input> (with type "text") and textarea */
    padding: 6px;
    border: 1px solid #3d3d3d;
    border-radius: 4px;
    /* margin-top: 6px; */
    /* margin-bottom: 16px; */
    resize: vertical;
    width: 180px;
    background-color: #636363;
    color: white;
}

textarea {
    max-height: 30px;
    min-height: 30px;
}

/*input[type=submit] {*/
/*background-color: #4CAF50;*/

/*}*/

/*input[type=reset] {*/
/*background-color: #ff333d;*/

/*}*/

footer form #name {
    background-color: #6363636e;
    margin: 10px;
    width: 26%;
}

footer form #mail {
    background-color: #6363636e;
    margin: 10px;
}

footer form #comment {
    background-color: #6363636e;
    margin: 10px;
}

footer form input[type=submit] {
    background-color: #636363;
    color: white;
    width: 40%;
    padding: 6px;
    border: none;
    border-radius: 4px;
    margin-left: 6.1%;
    margin-bottom: 4%;
}

footer form input[type=reset] {
    background-color: #636363;
    color: white;
    width: 40%;
    padding: 6px;
    border: none;
    border-radius: 4px;
    margin-left: 1%;
    margin-bottom: 4%;
}